<p-sidebar [(visible)]="show" [fullScreen]="true">

    <div class="containter">
        <div class="row">

            <div class="col col-12" style="text-align: left;">

                <h3 class="card-title">{{editingDip?.nombre}} {{editingDip?.apellido}}</h3>

                <form>

                    <label>Nombre</label>
                    <input type="text" class="form-control" name="nombre" placeholder="Nombre" [(ngModel)]="editingDip.nombre">

                    <label>Apellido</label>
                    <input type="text" class="form-control" name="apellido" placeholder="Apellido" [(ngModel)]="editingDip.apellido">

                    <label>Bloque</label>
                    <select class="form-control" name="bloque" placeholder="Bloque" [(ngModel)]="editingDip.bloque">
                        <option *ngFor="let op of bloquesOptions">{{op}}</option>
                    </select>

                    <label>Distrito</label>
                    <select class="form-control" name="distrito" placeholder="Distrito" [(ngModel)]="editingDip.distrito">
                        <option *ngFor="let op of distritoOptions">{{op}}</option>
                    </select>

                    <label>Espacio</label>
                    <input type="text" class="form-control" name="espacio" placeholder="Espacio" [(ngModel)]="editingDip.espacio">

                    <label>Estado Civil</label>
                    <input type="text" class="form-control" name="estadoCivil" placeholder="Estado Civil" [(ngModel)]="editingDip.estadoCivil">

                    <label>Twitter</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">@</div>
                        </div>
                        <input type="text" class="form-control" name="twitter" placeholder="Twitter" [(ngModel)]="editingDip.twitter">
                    </div>
                    
                    <label>Facebook</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">/</div>
                        </div>
                        <input type="text" class="form-control" name="facebook" placeholder="Facebook" [(ngModel)]="editingDip.facebook">
                    </div>

                    <label>Interno</label>
                    <input type="text" class="form-control" name="interno" placeholder="Interno" [(ngModel)]="editingDip.interno">

                    <label>Número completo</label>
                    <input type="text" class="form-control" name="numeroCompleto" placeholder="NumeroCompleto" [(ngModel)]="editingDip.numeroCompleto">

                    <label>Fecha de nacimiento</label> <br>
                    <p-calendar [(ngModel)]="editingDip.fechaNac" name="fechaNac"></p-calendar>     

                    <label>Cargo</label>
                    <p-autoComplete [(ngModel)]="editingDip.cargo" name="cargo" [suggestions]="cargoOptions" 
                        (completeMethod)="search($event)" placeholder="Cargo"></p-autoComplete>

                    <label>Posiciones: </label> 
                    <posiciones [posiciones]="editingDip.posiciones"></posiciones>
                    <br/>

                    <img [src]="fileLink">
                    <br/>
                    <label class="file-button">
                        Cambiar imagen
                        <input type="file" (change)="uploadFile($event)" accept=".png,.jpg">
                    </label>

                    <div style="margin-top: 10px;">
                        <button type="button" class="btn btn-primary mr-1" (click)="save()">Guardar</button>
                        <button type="button" class="btn btn-danger " (click)="cancel()">Cancelar</button>
                    </div>
                </form>

            </div>

        </div>
    </div>

</p-sidebar>

<p-dialog header="Posiciones" [(visible)]="showDialog" [baseZIndex]="1020" 
    [draggable]="false" [minHeight]="0" [minWidth]="360">    
</p-dialog>
