<p-card *ngFor="let pos of posiciones">
    {{pos.proyecto}}
    <select name="posicion" [(ngModel)]="pos.posicion">
        <option value="AFavor">A favor</option>
        <option value="EnContra">En contra</option>
        <option value="SeAbstiene">Se abstiene</option>
        <option value="NoConfirmado">No confirmado</option>
    </select>
</p-card>