@import '../../../../../theme/variables.scss';

.card-proj {
    background-color: $blanco;
    margin-top: 5px;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.07), 0 10px 15px 0 rgba(0, 0, 0, 0.1);
}

.col-6 {
    height: 410px !important;
    font-family: 'Brandon-Regular';
}

.col-img {
    padding: 0px !important;
    background-size: cover !important;
}

.proj-title {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    padding: 20px;
    text-align: center;
    font-family: $didot;
    color: $blanco;
    font-size: 50px;
    font-weight: bold;
}

.container {
    min-height:100%;
    position:relative;
 }

 .body {
    padding-top:30px;
    padding-bottom:60px;
 }

.footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px; 
 }