<div class="row card-proj">

    <div class="col-6 col-img" [style.background]="bkg">
        <div class="proj-title">{{project.nombre}}</div>
    </div>

    <div class="col-6">
        <div class="container">
            <div class="body">
                {{project.descripcion}}
            </div>
            <div class="footer">
                <button class="btn btn-primary btn-aec" type="button" [routerLink]="['/proyecto',project.id]">Activá a lxs políticxs</button>
            </div>
        </div>
    </div>

</div>