<div class="main-container">

    <div class="row justify-content-center">
        YA ACTIVAMOS EL CONGRESO  <span class="numero">{{_messages ? _messagesString : "..."}}</span>  VECES
    </div>

</div>
