<div class="title">Videos informativos</div>

<slider>
    <div *ngFor="let vid of proyecto.videos" class="video-container">
        <iframe [src]='sanitarize(vid.video)' style="width: 372px; height: 210px;" frameborder="0" 
            webkitallowfullscreen mozallowfullscreen allowfullscreen>
        </iframe>
    </div>
</slider>