@import "../theme/variables";

.navbar-light {
    background-color: $gris !important;
    //padding-left: 10%;
    font-family: $brandon-regular !important;
}

.navbar-dark {
    background-color: $negro !important;
    color: $blanco !important;
}

.redes {
    position: absolute;
    left: 45%;
}

a:hover {
    text-decoration: none;
}

.red-img {
    width: 41px;
    margin: 5px;
}

.red-img:hover {
    width: 43px;
}

.red-img.bigger {
    width: 47.5px;
    margin-left: -0.4px;
}

.red-img.bigger:hover {
    width: 49px;
}

.red-img.mail {
    border: solid 1px #FFF;
    border-radius: 50px;
}

.modal-content {
    border: 0px;
    border-radius: 0px;
    background-color: $gris;
    font-family: $brandon-bold;
}

.modal-header,
.modal-footer {
    border: 0px;
    border-radius: 0px;
}

.modal-btn {
    border-radius: 0px !important;
    background-color: black;
    border: 0px;
    font-family: $brandon-bold;
    margin: 5px;
}

.modal-btn:hover {
    background-color: #464646;
}
