<div style="height: 100%">
  <!-- Header -->
  <header-aec></header-aec>

  <!-- Router -->
  <router-outlet></router-outlet>

  <!-- Footer -->
  <!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><img style="width: 40%;" src="./assets/images/logo-navbar.png"/></a>
    <div class="redes">
      <a href="https://www.facebook.com/activaelcongreso" target="blank_">
        <img class="red-img" src="../../assets/social/facebook.svg">
      </a>
      <a href="https://www.twitter.com/activacongreso" target="blank_">
        <img class="red-img" src="../../assets/social/twitter.svg">
      </a>
      <a href="https://www.instagram.com/activacongreso" target="blank_">
        <img class="red-img bigger" src="../../assets/social/instagram.svg">
      </a>
      <a href="mailto:activaelcongreso@gmail.com">
        <img class="red-img bigger" src="../../assets/social/mail.svg">
      </a>
    </div>
  </nav>-->

</div>



