<div *ngIf="!readMore">
	<p style="font-family: GFSDidot;" *ngFor="let paragraph of fullText">
		{{paragraph}}
	</p>
</div>

<p style="font-family: GFSDidot;" *ngIf="readMore">
	{{firstParagraph|slice:0:197}}...
</p>
<button *ngIf="showButton" (click)="buttonClick()" class="btn btn-primary read-more-btn">
	LEER {{buttonText}} 
</button>