@import "../../../theme/variables";

.main-container {
    width: calc(100% + 30px);
    margin-left: -15px;
    background-color: $gris;
    padding-top: 30px;
    padding-bottom: 30px;
}

.title-row {
    margin-top: -25px;
    margin-bottom: 20px;
    text-align: center;
}

.title-first-part {
    font-family: $brandon-bold;
    font-size: 60px;
}

.title-second-part {
    font-family: $brandon-black;
    font-size: 60px;
    color: #00A99D;
    position: relative;
    line-height: 58px;
}

@media (max-width: 575.98px) {
    .title-first-part,
    .title-second-part {
        font-size: 40px;
        line-height: 45px;
    }
}

.hide {
    visibility: hidden;
    display: none;
}