<div class="container-fluid">

    <div class="row" style="background-color: #FFF; padding: 20px 0px 0px 20px;">
            <button class="btn btn-primary btn-aec" type="button" [routerLink]="['/']"><i class="fas fa-arrow-left"></i> Inicio</button>
    </div>

    <!-- Descripcion -->
    <div class="row desc-strip" style="margin-top: -10px;">
        <div class="col col-12">
            <span class="row desc-title">{{currentProy.nombre}}</span> <br/>
            <p class="row desc-text">{{currentProy.descripcion}}</p>
        </div>
    </div>

    <!-- Politicxs -->
    <leg-slider [proyecto]="currentProy"></leg-slider>

    <div [hidden]="!currentProy.verCont" class="row separador"></div>

    <!-- Conteo -->
    <div [hidden]="!currentProy.verCont" class="row">
        <div class="col col-12">
            <conteo [proyecto]="currentProy"></conteo>
        </div>
    </div>

    <!-- Contador -->
    <contador [cantidad]="currentProy.contador"></contador>

    <!-- Videos -->
    <vid-slider [hidden]="!currentProy.verVid" [proyecto]="currentProy"></vid-slider>
    
    <!-- Articulo -->
    <div [hidden]="currentProy.verVid || !currentProy.verArtic" 
        style="padding-top: 25px; background-color:#fbfbfb;"></div>
    <article [hidden]="!currentProy.verArtic" [articulo]="currentProy.articulo"></article>
    

</div>