<p-sidebar [(visible)]="show" [fullScreen]="true">

    <div class="containter">
        <div class="row">

            <div class="col col-12" style="text-align: left;">

                <h3><b>{{editingProy?.nombre}}</b></h3>

                <form>

                    <label>Nombre</label>
                    <input type="text" class="form-control" name="nombre" placeholder="Nombre" [(ngModel)]="editingProy.nombre">

                    <label>Descripcion</label>
                    <textarea class="form-control" name="descripcion" placeholder="Descripcion" [(ngModel)]="editingProy.descripcion"></textarea>

                    <label>Objetivo</label>
                    <select name="objetivo" [(ngModel)]="editingProy.objetivo" class="form-control">
                        <option value="dip">Diputadxs</option>
                        <option value="sen">Senadorxs</option>
                        <option value="leg">Legisladorxs</option>
                        <option>Otro</option>
                    </select>

                    <div *ngIf="editingProy.objetivo != 'dip'  && editingProy.objetivo != 'sen' 
                                && editingProy.objetivo != 'leg'">
                        <label>Otro objetivo</label>
                        <input type="text" name="objetivo" [(ngModel)]="editingProy.objetivo" class="form-control"/>
                    </div>
                    
                    <div class="form-check">
                        <input name="verCont" [(ngModel)]="editingProy.verCont" class="form-check-input" type="checkbox">
                        <label class="form-check-label">
                            Mostrar contador
                        </label>
                    </div>

                    <div class="form-check">
                        <input name="verVid" [(ngModel)]="editingProy.verVid" class="form-check-input" type="checkbox">
                        <label class="form-check-label">
                            Mostrar videos
                        </label>
                    </div>
                    <div *ngIf="editingProy?.verVid">
                        <label>Videos</label>
                        <items-list [getNew]="newPoryVid" [list]="editingProy?.videos" [stringField]="'video'"></items-list>
                    </div>

                    <div class="form-check">
                        <input name="verArtic" [(ngModel)]="editingProy.verArtic" class="form-check-input" type="checkbox">
                        <label class="form-check-label">
                            Mostrar articulo
                        </label>
                    </div>
                    <div *ngIf="editingProy?.verArtic">
                        <label>Artículo: </label>
                        <ckeditor [(ngModel)]="editingProy.articulo" name="editorContent" [readonly]="false"></ckeditor>
                        <br/>
                    </div>

                    <br>

                    <h2>Mensajes</h2>

                    <label>A favor</label>
                    <items-list [getNew]="newPTAFavor" [list]="twitsAFavor" [stringField]="'twit'"></items-list>

                    <label>En contra</label>
                    <items-list [getNew]="newPTEnContra" [list]="twitsEnContra" [stringField]="'twit'"></items-list>

                    <label>No confirmado</label>
                    <items-list [getNew]="newPTNoConfirmado" [list]="twitsNoConfirmado" [stringField]="'twit'"></items-list>

                    <label>Se abstiene</label>
                    <items-list [getNew]="newPTSeAbstiene" [list]="twitsSeAbstiene" [stringField]="'twit'"></items-list>

                    <img [src]="fileLink">
                    <br/>
                    <label class="file-button">
                        Cambiar imagen
                        <input type="file" (change)="uploadFile($event)" accept=".png,.jpg">
                    </label>

                    <div style="margin-top: 10px;">
                        <button type="button" class="btn btn-primary mr-1" (click)="save()">Guardar</button>
                        <button type="button" class="btn btn-danger " (click)="cancel()">Cancelar</button>
                    </div>
                </form>

            </div>

        </div>
    </div>

</p-sidebar>
