<div class="container-fluid">
        <div class="row justify-content-center">
      
          <div class="col-12 col-md-7 col-lg-6">

            <div class="card">

                <div class="card-header">
                    <h3>¿Que querés editar?</h3>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <button class="btn btn-primary btn-lg btn-block" (click)="seleccted.emit('proyectos')">Proyectos</button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-primary btn-lg btn-block" (click)="seleccted.emit('listaLegis')">Legisladorxs</button>
                        </div>
                    </div>
                </div>

            </div>

          </div>
    </div>
</div>
