<div [hidden]="sectionShowing != 'login'">
  <login (logged)="showSelect()"></login>
</div>

<div [hidden]="sectionShowing != 'select'">
  <select-comp (seleccted)="onSelected($event)"></select-comp>
</div>

<div [hidden]="sectionShowing != 'listaLegis'">
  <lista-legis (showSelect)="showSelect()"></lista-legis>
</div>

<div [hidden]="sectionShowing != 'proyectos'">
  <project (showSelect)="showSelect()"></project>
</div>