<div class="container-fluid">
    <div class="row justify-content-center">
  
      <div class="col-12 col-md-6 col-lg-4s" style="margin-top: 15px;">

        <div class="btn-toolbar" role="toolbar" style="margin-bottom:5px;">
            <div class="btn-group mr-2 btn-back" role="group">
                <button (click)="goToSelect()" type="button" class="btn btn-primary"><i class="fas fa-arrow-left"></i></button>
            </div>
            <div class="btn-group mr-2" role="group">
                <button (click)="addDip()" type="button" class="btn btn-success">Agregar</button>
            </div>
            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Filtro
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item" (click)="filter('Diputadx')">Diputadxs</a>
                    <a class="dropdown-item" (click)="filter('Senadorx')">Senadorxs</a>
                    <a class="dropdown-item" (click)="filter('Legisladorx')">Legisladorxs</a>
                    <a class="dropdown-item" (click)="filter('Ninguno')">Ninguno</a>
                </div>
            </div>
        </div>

        <div class="card" style="margin-bottom: 15px;">

            <div class="card-header">
                <h3>Lista de diputadxs</h3>
            </div>

            <div class="card-body" style="padding:5px;">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                    </div>
                    <input type="text" [(ngModel)]="buscando" (ngModelChange)="buscandoChanges()" name="buscando" class="form-control" placeholder="Buscar por nombre">
                </div>

                <div *ngFor="let dip of listaDip.value" style="margin-top:5px;">
                    <li class="list-group-item d-flexalign-items-center">
                        <i class="pi pi-ellipsis-h mt-1 elipsis highlight-hover" style="float:right;font-size: 2em;" (click)="openOverlay(op1, $event, dip)" ></i>
                        <div class="row">
                            <div class="col-12 col-md-3 col-lg-3" >
                                <img src="https://firebasestorage.googleapis.com/v0/b/activaelcongreso-8248f.appspot.com/o/{{dip.img}}?alt=media&token=163d9491-bb4c-4c87-93bc-b39c46121210" style="width: 125px;"/>
                            </div>
                            <div class="col-12 col-md-6g" styles="padding:0px;">
                                <h4>{{dip.nombre}} {{dip.apellido}}</h4>
                            </div>
                        </div>
                    </li>
                </div>
            </div>

            <!-- Overlay  -->
            <p-overlayPanel #op1 [appendTo]="'body'">
                <div class="card" style="width: 9.4rem;border-radius: 0px;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" (click)="doShowDetail()">
                            <b class="mt-1">Editar</b>
                            <i class="fa fa-edit mt-1" style="float:right;font-size: 1.2em;" ></i> 
                        </li>
                        <li class="list-group-item" (click)="delete()">
                            <b class="mt-1">Eliminar</b>
                            <i class="fa fa-trash mt-1" style="float:right;font-size: 1.2em;"></i> 
                        </li>
                    </ul>
                </div>
            </p-overlayPanel>

            <!-- Detail -->
            <detail-ll [show]="showDetail" [selectedDip]="selectedDip"></detail-ll>
        </div>
    </div>
  </div>