<app-horizontal-scroller
	[bgColor]="'#00A99D'"
	[subtitle]="subtitulo">
		<app-ui-spinner *ngIf="_items.length == 0"></app-ui-spinner>
	    <div class="diputadx" *ngFor="let dipu of _items">
	 	    <img class="card-img-top {{dipu.getPosicion}}" src="{{dipu.img ? dipu.img : '/assets/sen/new/' + dipu.key + '.jpg'}}" alt="{{dipu.name}} {{dipu.lastname}}">
	        <div class="dip-body">
				<span class="dip-nombre">{{dipu.firstName}} {{dipu.lastname}}</span> <br>
				<span class="dip-bloque">{{dipu.bloque}}</span>
			</div>
			<div class="dip-buttons">
				<button type="button" *ngIf="dipu.twitter" (click)="twittearAborto(dipu)" class="btn btn-primary dip-btn" target="_blank"><i class="fab fa-twitter"></i> Twittear</button>
	      		<a *ngIf="dipu.interno" (click)="setCurrentDiputadx(dipu)" class="btn btn-primary dip-btn" data-toggle="modal" data-target="#exampleModalCenter"><i class="fas fa-phone"></i> Llamar</a>
	      		<a *ngIf="dipu.facebook" (click)="setCurrentDiputadx(dipu)" class="btn btn-primary dip-btn" data-toggle="modal" data-target="#facebookModal"><i class="fab fa-facebook"></i> Facebook</a>
			</div>
		</div>
</app-horizontal-scroller>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">

			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				Cuando te atienda el conmutador, tenés que marcar alguno de los siguientes internos: <br>
				<span class="nro-interno">{{currentDiputadx?.interno}}</span> <br>
				<br>
				Te dejamos una idea para que te inspires: <br>
				<span class="fbpost">{{currentDiputadx?.abortionFacebook()}}</span>
			</div>
			<div class="modal-footer">
				<a (click)="contarLlamado(currentDiputadx)" href="tel:{{currentDiputadx?.phoneNumber}}" class="btn btn-primary llamar-btn">{{currentDiputadx?.phoneString}}</a>
			</div>
		</div>
	</div>
</div>

<!-- Modal Facebook -->
<div class="modal fade" id="facebookModal" tabindex="-1" role="dialog" aria-labelledby="Escribir por Facebook" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
          <span aria-hidden="true">&times;</span>
        </button>
        Te dejamos una sugerencia de texto para escribirle. Podés escribirle un mensaje privado o escribirle en el muro (lo que prefieras): <br>
        <span class="fbpost">{{currentDiputadx?.abortionFacebook()}}</span>
      </div>
      <div class="modal-footer">
        <button type="button" *ngIf="currentDiputadx?.facebook" (click)="facebookAborto(currentDiputadx)" class="btn btn-primary dip-btn center"><i class="fab fa-facebook"></i> Ir a su Facbeook</button>
        
      </div>
    </div>
  </div>
</div>
