@import '../../../theme/variables.scss';

.message {
    font-family: $brandon-regular;
    font-size: 20px;
    color: $gris-texto;
}

.pos {
    display: inline-block;
    font-display: $didot;
    font-size: 13px;
    color: $gris-texto;
    margin-left: 6px;
}

.aFavor {
    border-bottom: 3px solid $aFavor;
}

.enContra {
    border-bottom: 3px solid $enContra;
}

.noConfirmado {
    border-bottom: 3px solid $noConfirmado;
}

.seAbstiene {
    border-bottom: 3px solid $seAbstiene;
}

.filter-title {
    font-display: $didot;
    font-size: 20px;
    color: $gris-texto;
}

.filter-label {
    color: $gris-texto;
    font-family: $brandon-regular;
}

.btn-filter {
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    color: $blanco;
}