@import "../../../theme/variables";

.main-row {
    background-color: $verde;
    padding: 60px 50px 0px 50px;
    
    @media (min-width: 992px) {
        height: calc(100% - 70px);
    }

    @media (max-width: 575.98px) { 
        padding: 60px 20px 0px 20px;
    }
}

.card {
    text-align: center;
    border: solid 2px $blanco;
    border-radius: 0px;
    background-color: transparent;
    margin-bottom: 50px;
}

.card-header {
    font-size: 45px;
    color: $negro;
    font-family: $brandon-bold;
    background-color: $blanco;
    @media (max-width: 575.98px) {
        font-size: 35px;
    }
}

.red {
    cursor: pointer;
    @media (max-width: 767.98px) { 
        margin-top: 35px;
    }
}

.red-img {
    width: 155px;
}

a {
    color: $blanco;
}

.red:hover {
    .red-img {
        width: 160px;
    }
    
    .red-footer {
        margin-top: -5px;
    }
}

.red-footer {
    color: $blanco;
    font-family: $brandon-bold;
    font-size: 30px;
    margin-bottom: -7px;
}

.red-url {
    color: $blanco;
    font-family: $brandon-regular;
    font-size: 20px;
}