@import "../../../theme/variables";

.row {
    background-color: $gris;
    padding-top: 5px;
}

.title-first-part {
    font-family: $brandon-bold;
    font-size: 42px;
    line-height: 50px;
}

.title-second-part {
    font-family: $brandon-black;
    font-size: 50px;
    color: $verde;
    position: relative;
    line-height: 50px;
}

@media (max-width: 575.98px) {
    .title-first-part,
    .title-second-part {
        font-size: 40px;
        line-height: 45px;
    }
}

p.description {
    margin-top: 10px;
    font-family: $didot;
    color: $negro;
}

.propuestas-card {
    border: 5px solid #fff;
    border-radius: 0px;
    padding: 0px;
    background-color: transparent;
    margin: 10px;
}

.propuestas-play-icon:hover {
    opacity: 1;
    width: 25.5%;
}

.propuestas-card-body {
    background-color: #FFFFFF;
}

.propuestas-title {
    font-size: 31px;
    font-family: Brandon-Black;
    color: $verde;
}

.propuestas-description {
    font-size: 21px;
    font-family: GFSDidot;
    color: #000;
    line-height: 20px;
}

.modal-content {
    border: 0px;
    border-radius: 0px;
    background-color: $gris;
    font-family: $brandon-regular;
    strong {
        font-family: $brandon-bold;
    }
}

.modal-header,
.modal-footer {
    border: 0px;
    border-radius: 0px;
}

.modal-btn {
    border-radius: 0px !important;
    background-color: black;
    border: 0px;
    font-family: $brandon-bold;
    margin: 5px;
}

.modal-btn:hover {
    background-color: #464646;
}
