<div class="row justify-content-center propuestas-row">
    <div class="col col-11 col-xs-9 col-lg-9">
        <span class="title-first-part">Conocé a fondo</span> <br>
        <span class="title-second-part">las propuestas del proyecto de ley</span>
        <p class="description">Activa el Congreso apoya y difunde el proyecto de Interrupción Voluntaria del Embarazo. 
        El mismo fue elaborado por la Campaña por el Aborto Legal, Seguro y Gratuito</p>
    </div>

    <div class="col col-12 col-sm-9 col-md-7 col-lg-5">
        <div class="card propuestas-card">
            <img class="card-img-top propuestas-img" src="../../assets/images/panuelo.jpg" alt="Pañuelo de la Campaña por el Aborto Legal, Seguro y Gratuito">
            <div class="card-body propuestas-card-body">
                <a class="propuestas-title" href="#" data-toggle="modal" data-target=".bd-example-modal-lg" >
                    Proyecto de Ley
                </a>
                <div class="propuestas-description">
                    Proyecto elaborado por la Campaña por el Aborto Legal, Seguro y Gratuito.
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Video 1</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
           <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/PbgKEjNBHqM" allowfullscreen></iframe>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><strong>PROYECTO DE LEY DE INTERRUPCIÓN VOLUNTARIA DEL EMBARAZO</strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- <div class="row justify-content-center">
                    <div class="col col-10">
                        <img style="width: 100%" src="http://www.colombianosune.com/sites/default/files/propuestasgrande.jpg">
                    </div>
                </div> -->
                        
                <p>Proyecto de Ley de Interrupción Voluntaria del Embarazo (IVE) redactado por la Campaña Nacional por el Derecho al Aborto Legal, Seguro y Gratuito.</p>
                <p>Su Nº de expediente es el: <a href="http://www.hcdn.gob.ar/proyectos/textoCompleto.jsp?exp=4161-D-2016&tipo=LEY" target="_blank" >4161-D-2016</a>.</p>


                <p><strong>Artículo 1°</strong>: En ejercicio del derecho humano a la salud, toda mujer tiene derecho a decidir voluntariamente la interrupción de su embarazo durante las primeras catorce semanas del proceso gestacional.</p>
                <p><strong>Artículo 2º</strong>: Toda mujer tiene derecho a acceder a la realización de la práctica del aborto en los servicios del sistema de salud, en un plazo máximo de 5 (cinco) días desde su requerimiento y en las condiciones que determina la presente ley, la ley Nº 26.529 y concordantes.</p>
                <p><strong>Artículo 3º</strong>: Sin perjuicio de lo dispuesto en el artículo primero, y más allá del plazo establecido, toda mujer tiene derecho a interrumpir su embarazo en los siguientes casos:</p>
                <p>1. Si el embarazo fuera producto de una violación, con el sólo requerimiento y la declaración jurada de la persona ante el profesional de salud interviniente.</p>
                <p>2. Si estuviera en riesgo la vida o la salud física, psíquica o social de la mujer, considerada en los términos de salud integral como derecho humano.</p>
                <p>3. Si existieren malformaciones fetales graves.</p>
                <p><strong>Artículo 4º</strong>: Previamente a la realización del aborto en los casos previstos en la presente ley, se requerirá el consentimiento informado de la mujer expresado por escrito.</p>
                <p><strong>Artículo 5º</strong>: El sector público de salud, las obras sociales enmarcadas en las leyes 23.660 y 23.661, las entidades de medicina prepaga y todos aquellos agentes que brinden servicios médico-asistenciales independientemente de la figura jurídica que posean, incorporarán como prestaciones médicas básicas obligatorias a brindar a sus afiliadas o beneficiarias, la cobertura integral de la interrupción legal de embarazo prevista en los arts. 1 y 3 en todas las formas que la Organización Mundial de la Salud (OMS) recomienda.</p>
                <p><strong>Artículo 6°</strong>: En todos los casos las Autoridades de cada Establecimiento Asistencial deberán garantizar la realización de la interrupción del embarazo en los términos establecidos en la presente ley y con los alcances del art. 40 de la ley 17.132, art. 21 de la ley 26.529 y concordantes.</p>
                <p><strong>Artículo 7º</strong>: Las prácticas profesionales establecidas en la presente ley se efectivizarán sin ninguna autorización judicial previa.</p>
                <p><strong>Artículo 8°</strong>: Si la interrupción voluntaria del embarazo debe practicarse a una persona adolescente, entre los 13 y los 16 años de edad, se presume que cuenta con aptitud y madurez suficiente para decidir la práctica y prestar el debido consentimiento.</p>
                <p>La persona mayor de 16 años, conforme a lo establecido en el artículo 26 in fine del Código Civil y Comercial de la Nación, tiene plena capacidad para ejercer los derechos que otorga la presente ley. Si la IVE debe practicarse en una persona menor de 13 años de edad se requerirá su consentimiento con la asistencia de al menos uno de sus progenitores o representante legal. En ausencia o falta de ellos se requerirá la asistencia de las personas indicadas en el artículo 4 del decreto reglamentario del Programa Nacional de Salud Sexual y Reproductiva, el art. 7 del Decreto 415/2006 reglamentario de la ley 26.061 y el artículo 59 del Código Civil.</p>
                <p>En todos los supuestos contemplados en los artículos que anteceden serán de aplicación la Convención de los Derechos del Niño, la ley 26.061 y los artículos pertinentes del Código Civil y Comercial de la Nación, en especial en lo que hace a su interés superior y el derecho a ser oído.</p>
                <p><strong>Artículo 9°</strong>: Si se tratare de una persona con capacidad restringida y la restricción no tuviere relación con el ejercicio de los derechos que otorga la presente ley podrá prestar su consentimiento informado requiriendo si lo deseare la asistencia del sistema de apoyos previsto en el art. 32 Código Civil y Comercial de la Nación.</p>
                <p>Si se tratare de una persona declarada incapaz judicialmente deberá prestar su consentimiento con la asistencia de su representante legal o a falta o ausencia de este, la de un allegado en los términos art. 59 Código Civil y Comercial de la Nación.</p>
                <p><strong>Artículo 10°</strong>: Quedan incluidos en los derechos y beneficios comprendidos en la presente ley, las personas con capacidad de gestar de acuerdo en lo normado en la ley de identidad de género n° 26.743.</p>
                <p><strong>Artículo 11°</strong>: Derogase el Art. 85 inc. 2 del Código Penal de la Nación.</p>
                <p><strong>Artículo 12°</strong>: Deróguense los Arts. 86 y 88 del Código Penal de la Nación.</p>
                <p><strong>Artículo 13°</strong>: De forma.</p>




                <h5><strong>FUNDAMENTOS DEL PROYECTO DE LEY</strong></h5>

                <p>La creación de la Campaña Nacional por el Derecho al Aborto Legal Seguro y Gratuito, fue decidida por más de 20.000 mujeres reunidas en el XIX Encuentro Nacional de Mujeres realizado en Mendoza en 2004. Iniciada el 28 de Mayo de 2005 por más de 70 organizaciones de mujeres de todo el país, es actualmente asumida por una amplia alianza a nivel nacional, que incluye más de 300 organizaciones, grupos y personalidades vinculadas al movimiento de mujeres, organismos de derechos humanos, al ámbito académico y científico, trabajadores de salud, sindicatos y diversos movimientos sociales y culturales, entre ellos redes campesinas y de educación, organizaciones de desocupados, de fábricas recuperadas, grupos estudiantiles y religiosos. Organizaciones y personalidades que asumimos un compromiso con la integralidad de los derechos humanos, y defendemos el derecho al aborto como una causa justa para recuperar la dignidad de las mujeres y con ellas, la de todos los seres humanos.</p>
                <p>Las organizaciones de este gran arco de alianzas consideramos que los derechos sexuales y los derechos reproductivos son derechos humanos y deben ser reconocidos como derechos básicos de todas las personas. Para eso, es necesario garantizar el acceso universal a los servicios públicos que los sostienen. Nuestro lema -así como nuestro trabajo de años- es integral: &#8220;educación sexual para decidir, anticonceptivos para no abortar, aborto legal para no morir&#8221;. Esto implica la exigencia hacia el Estado de realizar modificaciones en los sistemas de Educación, Salud, Seguridad y Justicia, y también, por supuesto propiciar en la sociedad profundos cambios culturales.</p>
                <p>Consecuentemente con ello, la Campaña elaboró un proyecto de Ley de Interrupción Voluntaria del Embarazo que se viene presentando en esta Cámara de Diputados desde el año 2007 sin lograr su tratamiento y aprobación, a pesar que el mismo ha sido apoyado por un amplio espectro de legisladores de casi todas las fuerzas políticas. En las distintas presentaciones fue firmado por las y los siguientes diputados:</p>
                <p>ALCUAZ, HORACIO ALBERTO/ FERREYRA, ARACELI/ PITROLA, NESTOR ANTONIO/ ALONSO, LAURA/ GAGLIARDI, JOSUE/ PLAINI, FRANCISCO OMAR/ ALVARO, HECTOR JORGE/ GAILLARD, ANA CAROLINA/ PUCHETA, RAMONA/ ARETA, MARIA JOSEFA/ GARCÍA, ADRIANA/ PUIGGROS, ADRIANA VICTORIA/ ARGUMEDO, ALCIRA SUSANA/ GARCIA, ANDREA FABIANA/ RAIMUNDI, CARLOS/ AUGSBURGER, SILVIA/ GARRIDO, MANUEL/ RASINO, ELIDA ELENA/ AVOSCAN, HERMAN HORACIO/ GDANSKY, CARLOS ENRIQUE/ RECALDE, HECTOR PEDRO/ BARCHETTA, OMAR SEGUNDO/ GERVASONI, LAUTARO/ REYES, MARIA FERNANDA/ BARRETO, JORGE RUBEN/ GIL LAVEDRA, RICARDO RODOLFO/ RIESTRA, ANTONIO SABINO/ BARRIOS, MIGUEL ANGEL/ GIL LOZANO, CLAUDIA FERNANDA/ RIOS, LILIANA MARIA/ BASTEIRO, SERGIO ARIEL/ GIUDICI, SILVANA MYRIAM/ RISKO, SILVIA LUCRECIA/ BAZZE, MIGUEL ANGEL/ GONZALEZ, VERONICA/ RIVAS, JORGE/ BELOUS, NELIDA/ GORBACZ, LEONARDO ARIEL/ RODRIGUEZ, MARCELA VIRGINIA/ BENAS, VERONICA CLAUDIA/ GROSSO, LEONARDO/ ROGEL, FABIAN DULIO/ BEVERAGGI, MARGARITA BEATRIZ/ GUTIERREZ, MONICA EDITH/ ROSSI, LORENA/ BIANCHI, MARIA DEL CARMEN/ HARISPE, GASTON/ ROSSI, ALEJANDRO/ BIDEGAIN, GLORIA MERCEDES/ HELLER, CARLOS SALOMON/ SABBATELLA, MARTIN/ BISUTTI, DELIA BEATRIZ/ IBARRA, VILMA LIDIA/ SANTIN, EDUARDO/ BRAWER, MARA/ ITURRASPE, NORA GRACIELA/ SARTORI, DIEGO HORACIO/ BREGMAN, MYRIAM/ JAVKIN, PABLO LAUTARO/ SCOTTO, SILVIA CAROLINA/ CARDELLI, JORGE JUSTO/ JUNIO, JUAN CARLOS ISAAC/ SEGARRA, ADELA ROSA/ CARLOTTO, REMO GERARDO/ KENNY, FEDERICO/ SEMINARA, EDUARDO JORGE/ CARRIZO, ANA CARLA/ LINARES, MARIA VIRGINIA/ SESMA, LAURA JUDITH/ CASTAÑON, HUGO/ LOPEZ, PABLO SEBASTIAN/ SOLANAS, FERNANDO EZEQUIEL/ CHEMES, JORGE OMAR/ LOZANO, CLAUDIO RAUL/ SOTO, GLADYS BEATRIZ/ CHIENO, MARIA ELENA PETRONA/ MAGARIO, VERONICA MARIA/ STOLBIZER, MARGARITA ROSA/ CIAMPINI, JOSE ALBERTO/ MAZURE, LILIANA AMALIA/ STORANI, MARIA LUISA/ CICILIANI, ALICIA MABEL/ MENDOZA, SANDRA MARCELA/ STORNI, SILVIA/ COMI, CARLOS/ MERCHAN, PAULA CECILIA/ SYLVESTRE BEGNIS, JUAN H./ CONTI, DIANA/ MILMAN, GERARDO FABIAN/ TROIANO, GABRIELA ALEJANDRA/ CONTRERA, MONICA GRACIELA/ MIRKIN, BEATRIZ GRACIELA/ TUNESSI, JUAN PEDRO/ CORTINA, ROY/ NEBREDA, CARMEN ROSA/ VACA NARVAJA, PATRICIA/ CUCCOVILLO, RICARDO OSCAR/ OPORTO, MARIO NESTOR/ VAQUIE, ENRIQUE ANDRES/ DE GENNARO, VICTOR NORBERTO/ PARADA, LILIANA BEATRIZ/ VAZQUEZ, SILVIA/ DEL CAÑO, NICOLAS/ PERALTA, FABIAN FRANCISCO/ VIALE, LISANDRO ALFREDO/ DEPETRI, EDGARDO FERNANDO/ PÉREZ, ADRIÁN/ YAGÜE, LINDA CRISTINA/ DI TULLIO, JULIANA/ PERIE, HUGO RUBEN/ ZABALZA, JUAN CARLOS/ DONDA PEREZ, VICTORIA ANALIA/ PIEMONTE, HECTOR HORACIO/ ZAMARREÑO, MARIA EUGENIA/ FEIN, MONICA HAYDE/ PIETRAGALLA CORTI, HORACIO.</p>
                <p>En los 9 años transcurridos desde la primera presentación del proyecto de Ley de IVE, se ha logrado avanzar en la despenalización social del aborto y la Corte Suprema de Justicia de la Nación a través del fallo de fecha 13/03/2012, (caso “FAL s/medida autosatisfactiva”) ha aclarado los alcances de los abortos legales establecidos en el art. 86 del Código Penal. Asimismo en este período se han sancionado importantes leyes atinentes a los derechos humanos de las personas y de las familias, como por ejemplo la ley 26.529 de Derechos del paciente en su relación con los profesionales e instituciones de la Salud; la ley 26.743 de Identidad de género, y también un nuevo Código Civil y Comercial de la Nación.</p>
                <p>Desde la Campaña, consideramos que toda esta legislación debía ser incorporada en un nuevo proyecto de Ley de Interrupción Voluntaria del Embarazo, por ello durante el año 2015 se han realizado, con la participación de profesionales de diversas disciplinas y activistas, foros de discusión de un nuevo Proyecto de Ley IVE, en diferentes ciudades del país: Ciudad de Buenos Aires, Provincia de Buenos Aires Zona Oeste, Zona Sur y La Plata, Córdoba, Santa Rosa (La Pampa), Rosario, Santa Fe, Salta y Tucumán. Las conclusiones de esos Foros participativos fueron reunidas y consideradas por una Comisión redactora que elaboró un nuevo proyecto de ley que fue aprobado por la Campaña Nacional por el Derecho al Aborto Legal, Seguro y Gratuito en su reunión Plenaria realizada en Paraná los días 5 y 6 de marzo de 2016.</p>
                <p>La Comisión Redactora estuvo integrada por reconocidas juristas, médicas y militantes del movimiento feminista: Nelly Minyersky, Martha Rosenberg, Soledad Deza, Silvia Augsburger, Mabel Gabarra, Stella Maris Manzano, Nina Brugo, Alicia Cacopardo, Mónica Menini, Silvia Juliá, Carolina Comaleras y Cristina Zurutuza.</p>
                <p>En el año 2015, el Ministerio de Salud de la Nación reconoció que “en la Argentina se realizan entre 370 y 522 mil interrupciones de embarazos por año (Mario y Pantelides, 2009). Estas cifras son estimativas ya que, por tratarse de una práctica clandestina, no se dispone de datos precisos. La única información disponible al respecto es el número de hospitalizaciones producidas en los establecimientos públicos por complicaciones relacionadas con abortos. No obstante, este dato no distingue entre abortos espontáneos y provocados, por lo que representa solo una fracción de los que ocurren anualmente. Según datos de estadísticas hospitalarias del Ministerio de Salud de la Nación sobre el sistema público de salud, en 2011 se registraron en el país 47.879 egresos hospitalarios por abortos, de los cuales el 19% correspondió a mujeres menores de 20 años. En 2012 murieron en nuestro país 33 mujeres a causa de embarazos terminados en aborto. Dos de ellas eran adolescentes menores de 20 años y 7, jóvenes de entre 20 y 24 años (DEIS, 2013)”. Y especificó también el Ministerio de Salud de la Nación que “En 2013, el 50% de las muertes por embarazo terminado en aborto correspondió a mujeres de 15 a 29 años, entre ellas nueve de adolescentes de 15 a 19 años (DEIS, 2014). En un contexto que muestra una elevada proporción de partos ocurridos en instituciones de salud (99%) y de partos atendidos por profesionales capacitados (98%) (DEIS, 2013), la Argentina tiene el potencial necesario para disminuir considerablemente la tasa de mortalidad materna y las amplias brechas que existen en la materia. Sin embargo, las inequidades en el acceso a servicios, en la disponibilidad de recursos humanos y físicos adecuados y en la calidad de la atención sanitaria, impactan de diferente forma sobre las razones de la mortalidad materna y generan un riesgo desproporcionado para las mujeres que viven en las jurisdicciones más pobres del país” .</p>
                <p>Por otro lado, la tasa de mortalidad materna era, en 2006, de 44 por 100.000 nacidos vivos, y se mantuvo estable en años posteriores . Sin embargo, la OMS estima un fuerte subregistro, por lo que para el 2010 la ubica en 77 por cien mil nacidos vivos . Se considera que cerca de un tercio (26,7%) de las muertes maternas se deben a complicaciones derivadas de abortos realizados clandestinamente . Nuestro país presenta estadísticas de crecimiento poblacional similar a la de países desarrollados, dado que la tasa de natalidad de 18.4 por mil: sin embargo, en cuestiones de mortalidad materna Argentina se encuentra hoy entre el grupo de países considerados de media y alta mortalidad materna.</p>
                <p>Este panorama se complejiza por la heterogeneidad al interior de Argentina. Un estudio realizado en profundidad para 6 provincias argentinas muestra grandes diferencias entre provincias: en el caso de la Ciudad de Buenos Aires era de 14 por 100 mil pero en el caso de Formosa llegaba al 166 por 100 mil, casi 12 veces más alto. Las jóvenes hasta 20 años explican el 23% de las muertes maternas, las mujeres de entre 20 y 34 años, el 53,8% y las mujeres de 35 años o más, el 35% restante. El 26% de las muertes ocurren después de la semana 20 de gestación .</p>
                <p>Vemos que el impacto negativo de la interrupción del embarazo bajo condiciones no seguras, es significativo en Argentina dado que de manera constante un tercio de las muertes maternas son atribuibles a complicaciones por aborto.</p>
                <p>La falta de registros integrales, hace que sólo existan datos sobre aquellos abortos que, por las condiciones en las que fueron realizados, produjeron problemas posteriores y por ello debieron ser asistidos en los servicios de salud; o fueron realizados en servicios de salud privados o públicos directamente. Sin embargo hay mujeres que abortan en sus casas sin consecuencias negativas posteriores y por tanto no recurren a servicios de salud o al médico; u otras que hacen sus abortos en el sistema privado y de manera segura.</p>
                <p>El registro parcial de datos en relación al aborto y también de sus posibles consecuencias negativas, son producto de su propia condición de clandestinidad. Es la práctica clandestina, lo que torna inseguro al aborto, no sólo en los casos en que se practica sin la adecuada profilaxis médica sino también en aquellos casos donde es realizado por un profesional capacitado.</p>
                <p>Por esta razón, la sociedad y el Estado deben debatir este problema y encontrar soluciones que den respuesta a un problema que no puede continuar en el campo de la clandestinidad y de la negación en su importancia socio-sanitaria.</p>
                <p>En el mundo, la Organización Mundial de la Salud (OMS) estimaba para fines de los años noventa que la mitad de los abortos inducidos anualmente son abortos inseguros y que el 95% de ésos ocurrían en países en vías de desarrollo. Si la relación de 1 aborto inseguro por cada 7 nacidos vivos era lo observable a nivel global, en el caso de América Latina se producía más de 1 aborto inseguro por cada 3 nacidos vivos.<br />
                Como ya se mencionara, las complicaciones relacionadas con el aborto son la primera causa de muerte materna y de esta manera se vulneran derechos fundamentales tales como: acceso a la salud, derecho a una vida sana y plena, derecho al ejercicio de la autonomía y autodeterminación sobre el propio cuerpo, la sexualidad y la reproducción. En los últimos doce años los estudios y debates sobre la situación del aborto en la Argentina han mostrado un importante crecimiento, lo mismo que las acciones políticas que proponen la despenalización y/o legalización de esta práctica como el proyecto adjunto.</p>
                <p>Hasta el momento, la interrupción del embarazo en Argentina es posible en algunos pocos casos, definidos como no punibles en el Art 86 del Código Penal. Allí expresamente se despenaliza el aborto cuando se trata de un caso de embarazo producto de una violación o de un atentado al pudor de una mujer demente o idiota, o cuando corre peligro la vida y la salud de la mujer.</p>
                <p>El presente Proyecto tiene como objetivo, generar las condiciones de legalidad para que las mujeres que habitan el territorio nacional, tengan acceso igualitario a las prácticas médicas que le garanticen la Interrupción Voluntaria del Embarazo (IVE) de manera segura y gratuita.</p>
                <p>En el año 2010 el Comité para la eliminación de la discriminación contra la mujer (CEDAW) difundió el informe de revisión de la situación argentina y resalta que la principal violación a los derechos humanos de las mujeres hoy es la penalización del aborto, por la magnitud de las muertes que esto genera y recomienda que tanto el Poder Ejecutivo como el Legislativo y Judicial, tienen responsabilidad en la implementación de medidas y políticas públicas para evitar estas muertes.</p>
                <p>Al respecto el Ministerio de Salud de la Nación ha sostenido que “La penalización del aborto que rige en numerosos países, lejos de disminuir la incidencia de la práctica, impide el acceso a procedimientos seguros, con lo cual se generan riesgos para la vida y la salud de las mujeres” .</p>
                <p>Recientemente, los expertos del Comité del Pacto de Derechos Económicos, Sociales y Culturales (CDESC) indicaron en la Observación Nº 22 –en relación al art. 12 del Pacto DESC sobre derecho a la salud- dado a conocer el 8 de Marzo de 2016- que &#8220;el pleno disfrute del derecho a la salud sexual y reproductiva sigue siendo un objetivo lejano para millones de personas, especialmente para las mujeres y las niñas, en todo el mundo&#8221;, señalaron que &#8220;…la falta de servicios de atención obstétrica de emergencia o negación del aborto a menudo conducen a la mortalidad y morbilidad materna, que a su vez constituye una violación del derecho a la vida o la seguridad, y en ciertas circunstancias, puede equivaler a tortura o tratos crueles, inhumanos o degradante&#8221;.</p>
                <p>La Observación General Nº 22 detalla las obligaciones de los Estados respecto de la salud sexual y reproductiva, incluyendo: Remover las leyes y políticas que obstruyen el acceso al derecho a la salud sexual y reproductiva.</p>
                <p>Los Estados deben adoptar medidas necesarias para eliminar condiciones y combatir actitudes que perpetúen la inequidad y la discriminación especialmente basada en el género; la obligación de garantizar el acceso universal a la atención de la salud sexual y reproductiva de calidad, incluida la atención de la salud materna, la información y servicios de anticoncepción y aborto seguro.</p>
                <p>La Observación establece que las políticas o prácticas, como la negativa a proporcionar los servicios basados en la objeción de conciencia, no debe impedir que las personas obtengan atención adecuada. Debe garantizarse que un número adecuado de profesionales de la salud dispuestos y capaces de proporcionar tales servicios, deben estar disponibles en todo momento en las instalaciones públicas y privadas.</p>
                <p>Si bien se observan avances provinciales para incluir en las legislaciones locales las recomendaciones del Fallo de la Suprema Corte Suprema de Justicia de la Nación (SCJN) realizados en marzo del 2012, en el cual se hace una interpretación acerca de la constitucionalidad del derecho a interrumpir un embarazo dentro del marco del Art. 86 del Código Penal , advertimos que el acceso a este procedimiento en sus dos causales legales: peligro para la salud, peligro para la vida y violación, continúa siendo de difícil cumplimiento en gran parte del territorio de nuestro país.</p>
                <p>El Ministerio de Salud de la Nación ha adecuado su antigua Guía de Atención de Abortos no Punibles a los estándares del fallo F.A.L y en su función de rectoría nacional en materia sanitaria, ha confeccionado el Protocolo para la Atención Integral de las Personas con Derecho a Interrumpir legalmente un Embarazo . En este documento estandariza la buena praxis en torno a la atención de los abortos permitidos por la ley, los derechos de las mujeres que acuden como pacientes en búsqueda de estas prestaciones, la casuística de las causales en toda su extensión, las obligaciones del personal de salud en cada caso, las responsabilidades de las Instituciones Sanitarias de los tres subsectores –público, privado y de obras sociales- frente a la obligación de garantizar esta atención médica y sobre las alternativas terapéuticas que deben garantizarse en todos los casos. Sin embargo, aún persisten resistencias sociales y culturales para garantizar este derecho en varias jurisdicciones del país.</p>
                <p>Teniendo en cuenta estos antecedentes, creemos que la ampliación de los derechos que se ha llevado adelante en la Argentina en los últimos 12 años no estará completa hasta que la Interrupción Voluntaria del Embarazo no tenga plena vigencia legal. El Estado debe buscar la manera de garantizar a las mujeres- y también a sus parejas- el goce pleno de la sexualidad y la reproducción.</p>
                <p>La Argentina será un país más justo y equitativo cuando quienes quieran y puedan tener hijos e hijas lo hagan sin problemas; y quienes en pleno goce de sus facultades personales no lo deseen, puedan interrumpir el embarazo en condiciones sanitarias adecuadas, de manera que no haya más mujeres que mueran en el intento, sumidas en la angustia de un embarazo no planificado ni deseado. La maternidad no puede ser una imposición debe ser siempre una elección de vida, como muchas otras y el Estado debe velar por la vigencia plena de los mismos.</p>
                <p>Además de la estadística que marca el estado de situación de la mortalidad materna en la Argentina, son las condiciones en las que ocurren los abortos las que plantean un problema de inequidad y que refuerzan las diferencias entre sectores sociales, siendo éste un problema de Salud Pública y de Políticas Públicas vinculados con la equidad y la justicia social.</p>
                <p>La sociedad y el Estado deben encontrar soluciones que resguarden los derechos de las mujeres y que achiquen las brechas de inequidad que se producen entre aquellas mujeres que, en base a sus recursos económicos pueden garantizar para sí mismas una práctica abortiva segura, discreta y silenciosa y las que, viniendo de sectores sociales más vulnerables, terminan atravesando situaciones de alto riesgo. Dicha situación se agrava cuando las mujeres son expuestas públicamente .</p>
                <p>El Estado argentino debe buscar la manera de sortear estas inequidades, en el mismo sentido que lo ha hecho en los últimos diez años, legislando en la ampliación de derechos que en otra época hubieran sido impensables en nuestro país. Hemos igualado derechos y todavía falta, por ello el tema la legalización del aborto es un tema al que hay que darle resolución inmediata. Esta Ley es imprescindible para evitar más muertes y para erradicar inequidades y discriminaciones que contribuyen a ampliar la brecha de la injusticia social y sanitaria en la población.</p>
                <p>La interrupción del embarazo puede realizarse a través de técnicas farmacológicas o a través de técnicas instrumentales o quirúrgicas . Ambas técnicas requieren la intervención o supervisión de profesionales de la salud, por lo que la reglamentación de este proyecto asegurará el acceso a todas las prácticas médicas posibles encuadradas dentro de las Prestaciones Médicas Obligatorias de forma tal de garantizar su acceso para toda la población.</p>
                <p>Garantizar el acceso a una práctica médica que posibilite la interrupción del embarazo hasta la decimocuarta semana, sólo mediante el consentimiento de la mujer, resulta esencial para garantizar el derecho a la salud integral y a la vida misma. Entre los países que lo hicieron, como el caso de Uruguay, lograron reducir la mortalidad materna en meses, y así pasaron de 25 por 100 mil nacidos vivos a 9 por 100 mil y cumplió la meta del milenio establecida por la OMS para disminuir la muerte materna. Sin embargo, Argentina no cumplió los ODM previstos para el año 2015 en este campo.</p>
                <p>La Corte Suprema (fallo CSJN Y.112 XL) ha reconocido que la salud debe entenderse tal como ha sido definida por la OMS “…en su más amplio sentido, como el equilibrio psico-físico y emocional de una persona…”. El acceso a una intervención médica, quirúrgica o no, es un beneficio para la mujer que interrumpe su embarazo en las mejores condiciones de salubridad y seguridad posibles.</p>
                <p>En su artículo 1 al colocar el plazo de la catorceava semana este proyecto no pretende definir el comienzo de una vida ni justificar moralmente las interrupciones del embarazo. Delimita legalmente un área protectora de los bienes jurídicos en cuestión, dentro de plazos razonables para una gestación que no fue planificada y/o deseada. El proyecto de ley trata puntualmente lo que es científicamente un proceso continuo pero no sanciona moralmente la cuestión .</p>
                <p>En el artículo 3, el proyecto mantiene la posibilidad, ya presente en nuestra legislación, de que las mujeres puedan interrumpir el embarazo cuando éste sea producto de una violación, ponga en riesgo la salud integral de la mujer –física, psíquica, emocional o social-, con posterioridad a la decimocuarta semana e incluye avances significativos en pos de eliminar trabas médicas y judiciales que niegan o demoran en numerosas ocasiones la práctica mencionada y que están suficientemente documentados .</p>
                <p>Frente a la sucesión de casos recientes en los que se han vulnerado estos derechos, el Fallo de la Corte Suprema de Justicia de la Nación de abril de 2012 citado anteriormente, fijó la definitiva interpretación del Código Penal y estableció que, “no deben existir obstáculos médicos–burocráticos o judiciales, para acceder a la mencionada prestación y que pongan en riesgo la salud o la propia vida de quien la reclama”. Estableció que el incumplimiento de este derecho implica una ilegalidad de la que sería responsable tanto el Estado Nacional, como los Estados Provinciales y la Ciudad Autónoma de Buenos Aires.</p>
                <p>Es por ello que el proyecto postula en el art. 4 que para estos casos sólo es necesario el consentimiento informado de la mujer garantizando, de este modo, la práctica de la interrupción a todas las mujeres ampliamente y sin judicializaciones, ni autorizaciones que se traducen en una interferencia estatal indebida sobre la vida privada. El articulo 7 recepta este criterio expresamente.</p>
                <p>Actualmente, más del 60% de la población mundial vive en países donde el aborto inducido está permitido, ya sea en una amplia variedad de supuestos o causas, o bien sin restricción alguna en cuanto a las razones. En contraste, más de 25% de la población mundial reside en países donde el aborto se encuentra esencialmente prohibido, cuando cerca del 14% vive en países donde el aborto es permitido para preservar la salud de la mujer . En América Latina, sólo Puerto Rico, Cuba, Uruguay, Guyana y México D.F. se encuentran en ese grupo. Con restricciones de algún tipo se encuentran Argentina, Bolivia, Brasil, Colombia, Costa Rica, Ecuador, Guatemala, Panamá, Paraguay, Perú y Venezuela. Penalizado bajo todas las circunstancias están Chile , Honduras, El Salvador, Nicaragua y República Dominicana.</p>
                <p>El derecho al acceso a una interrupción del embarazo y una mejor distribución de los recursos concretos para su pleno ejercicio constituyen aún demandas a ser atendidas y que deben ser consideradas en toda magnitud y para todos los sectores por igual. Las “injusticias reproductivas” se materializan, entre otras, en factores que constriñen las decisiones reproductivas de las mujeres, forzándolas a una maternidad no planeada, o a los riesgos de un aborto clandestino en condiciones no seguras para su vida y su salud . La prohibición no evita que las mujeres se realicen abortos, sino que los convierte en una práctica de mayor vulnerabilidad.</p>
                <p>Para permitir que los Servicios de Salud se organicen para hacer frente en garantizar la disponibilidad de la prestación médica de interrupción voluntaria de embarazo sin que sus propias cosmovisiones interfieran con los derechos de las pacientes, se ha otorgado en el artículo 2 un plazo de 5 (cinco) días máximo para brindar atención sanitaria. En esta línea, observando la desafortunada asiduidad con que las Instituciones sanitarias niegan o dilatan la prestación médica bajo excusas diferentes, el Proyecto explicita la responsabilidad específica de los/as Directores/as de las Instituciones en los términos del art. 40 de la ley 17.132.</p>
                <p>En el mismo sentido se ha vinculado esta atención de forma expresa con la ley 26.529 de los Derechos de los Pacientes y sus niveles de cobertura, como prestación básica obligatoria, en el artículo 5.<br />
                Atento a que en el campo de la competencia para los actos médicos el Código Civil y Comercial de la Nación ha introducido cambios sustanciales para la autonomía de las personas, los arts. 8 y 9 receptan estos criterios. El nuevo Código Civil y Comercial de la Nación tiene como fuente normativa preexistente y de superior jerarquía a la Constitución, y como antes mencionamos los tratados de derechos humanos ratificados por nuestro país, que contienen los estándares mínimos que deben respetar todas las normas del ordenamiento jurídico interno. Por ello, toda interpretación normativa debe realizarse atendiendo a los principios pro homine, de progresividad y no regresividad, autonomía e igualdad, entre otros (arts. 1 y 2 CCCN). Cuando se interpretan normas relacionadas con el ejercicio de derechos humanos, siempre debe preferirse la interpretación y/o aplicación de la norma que conceda un alcance más amplio a los derechos para el mayor número de personas.</p>
                <p>El proyecto de ley que se presenta en el tema capacidad y competencia médica ha abrevado en los artículos 1, 2, 25, 26, 59 y concordantes del Código Civil y Comercial de la Nación.<br />
                Más allá que éstas son las normas que por rigurosa técnica jurídica son de estricta aplicación al caso, las mismas constituyen los mejores instrumentos para que las personas implicadas, niñas, adolescentes, personas con capacidades diferentes no vean cercenados sus derechos humanos personalísimos, el derecho a su propio cuerpo, a su autonomía y libertad y a su salud integral.</p>
                <p>El nuevo Código Civil y Comercial de la Nación ha dado un paso adelante importantísimo para la adecuación del tema capacidad a los tratados de derechos humanos, en especial la Convención de Derechos del Niño y CEDAW, siendo de aplicación la ley 26.061 de Protección Integral de Derechos de Niños, Niñas y Adolescentes. El nuevo Código legisla basándose en paradigmas no-discriminatorios, de libertad e igualdad, tiene presente que se trata de una sociedad multicultural poseedora de una serie de conductas sociales diversas y ha receptado la doctrina de la capacidad progresiva permitiendo al menor de edad ejercer los derechos que le son permitidos de acuerdo con su edad y grado de madurez.<br />
                Es importante en este punto distinguir entre capacidad civil y el concepto de competencia bioética o médica. La capacidad civil se adquiere al cumplir la mayoría de edad. La competencia bioética no se alcanza en un momento determinado de la vida, sino que se va desarrollando y evolucionando con el paso del tiempo, hasta que paulatinamente se alcanza la madurez. Se trata de un concepto que pertenece al área de los derechos personalísimos que se ejercen a medida que se va adquiriendo la capacidad necesaria para hacer efectivos derechos como la salud y la vida.</p>
                <p>El artículo 26 del CCCN establece: “La persona menor de edad ejerce sus derechos a través de sus representantes legales. No obstante, la que cuenta con edad y grado de madurez suficiente puede ejercer por sí los actos que le son permitidos por el ordenamiento jurídico. En situaciones de conflicto de intereses con sus representantes legales, puede intervenir con asistencia letrada. La persona menor de edad tiene derecho a ser oída en todo proceso judicial que le concierne así como a participar en las decisiones sobre su persona. Se presume que el adolescente entre trece y dieciséis años tiene aptitud para decidir por sí respecto de aquellos tratamientos que no resultan invasivos, ni comprometen su estado de salud o provocan un riesgo grave en su vida o integridad física. Si se trata de tratamientos invasivos que comprometen su estado de salud o está en riesgo la integridad o la vida, el adolescente debe prestar su consentimiento con la asistencia de sus progenitores; el conflicto entre ambos se resuelve teniendo en cuenta su interés superior, sobre la base de la opinión médica respecto a las consecuencias de la realización o no del acto médico. A partir de los dieciséis años el adolescente es considerado como un adulto para las decisiones atinentes al cuidado de su propio cuerpo”.</p>
                <p>Surge de una lectura detenida y sistemática del art. 26 que es importante señalar en primer término que a partir de los 16 años se es mayor de edad en todo lo que hace al cuidado del propio cuerpo. Se incorpora con toda claridad el concepto de competencia médica.</p>
                <p>En relación a las personas en edades entre 13 y 16 años, debemos analizar la interpretación de tres términos clave que se utilizan tales como invasivos, riesgo grave para la vida o la salud. Los mismos son interdependientes y deben coexistir en forma coetánea, o sea, invasividad y riesgo grave para la salud y/o para la vida. Una interpretación en contrario tornaría incongruente todo el artículo. Si el criterio fuere considerar en forma aislada el término invasivo se produciría el absurdo de no ser competente para tomar un analgésico o recibir una vacuna, etc.</p>
                <p>El término “invasivo” suele asociarse con el compromiso del estado de salud o el riesgo para la vida o integridad física. De esta forma, el cuarto párrafo refiere a “tratamientos que no resultan invasivos, ni comprometen su estado de salud o provocan un riesgo grave en su vida o integridad física”. Y en el quinto, a “tratamientos invasivos que comprometen su estado de salud o está en riesgo la integridad o la vida”. Es decir, las prácticas sanitarias que requieren acompañamiento para la decisión en el período entre los 13 y los 16 años, son aquellas en que existe evidencia científica que muestra un probabilidad considerable (alta) de riesgo o se generen secuelas físicas para el niño, niña o adolescente y no solo en aquellas que tal consecuencia pudiera existir. Esta probabilidad se mostrará en estudios clínicos, estadísticas sanitarias, y otras fuentes autorizadas y de reconocida calidad.</p>
                <p>Por otro lado, la OMS afirma que “si bien desde 1990 se ha registrado un descenso considerable, aunque irregular, en las tasas de natalidad entre las adolescentes, un 11% aproximadamente de todos los nacimientos en el mundo se producen todavía entre jóvenes de 15 a 19 años. La gran mayoría de esos nacimientos (95%) ocurren en países de ingresos bajos y medianos.</p>
                <p>En las Estadísticas Sanitarias Mundiales 2014 se indica que la tasa media de natalidad mundial entre las adolescentes de 15 a 19 años es de 49 por 1000. Las tasas nacionales oscilan de 1 a 299 nacimientos por 1000 jovencitas, siendo las más altas las del África Subsahariana.</p>
                <p>El embarazo en la adolescencia sigue siendo uno de los principales factores que contribuyen a la mortalidad materna e infantil y al círculo de enfermedad y pobreza.</p>
                <p>En cuanto a las consecuencias para la salud adolescente, la OMS resalta que las complicaciones durante el embarazo y el parto son la segunda causa de muerte entre las muchachas de 15 a 19 años en todo el mundo. Sin embargo, desde el año 2000 se han registrado descensos considerables en el número de muertes en todas las regiones, sobre todo en Asia Sudoriental, donde las tasas de mortalidad se redujeron de 21 a 9 por 100 000 muchachas. Cada año se practican unos 3 millones de abortos peligrosos entre muchachas de 15 a 19 años, lo que contribuye a la mortalidad materna y a problemas de salud prolongados.</p>
                <p>La procreación prematura aumenta el riesgo tanto para las madres como para los recién nacidos. En los países de ingresos bajos y medianos, los bebés de madres menores de 20 años se enfrentan a un riesgo un 50% superior de mortalidad prenatal o de morir en las primeras semanas de vida que los bebés de mujeres de 20 a 29 años. Cuanto más joven sea la madre, mayor el riesgo para el bebé. Además, los recién nacidos de madres adolescentes tienen una mayor probabilidad de registrar peso bajo al nacer, con el consiguiente riesgo de efectos a largo plazo . Finalmente, el embarazo en la adolescencia puede también tener repercusiones sociales y económicas negativas para las muchachas, sus familias y sus comunidades. Muchas adolescentes que se quedan embarazadas se ven obligadas a dejar la escuela. Una adolescente con escasa o ninguna educación tiene menos aptitudes y oportunidades para encontrar un trabajo. Esto puede también tener un costo económico para el país, puesto que se pierden los ingresos anuales que una mujer joven hubiera ganado a lo largo de su vida de no haber tenido un embarazo precoz.</p>
                <p>Como se señalara el art.2 del CCCN establece como pauta de interpretación “las disposiciones que surgen de los tratados sobre derechos humanos”, por consiguiente la interpretación de las normas y reglas en relación con las personas con discapacidad debe armonizarse con los estándares y principios constitucionales y convencionales, especialmente los contenidos en la Convención de los Derechos de las Personas con Discapacidad, incorporada a la Constitución Nacional.</p>
                <p>Respecto de las personas con capacidades diferentes, el CCCN se refiere a ellas en los artículos 31, 32 y concordantes y el art. 59 respecto del consentimiento informado.</p>
                <p>La incapacidad es excepcional y cobra vigencia estrictamente en los términos de la sentencia judicial que así lo declare. Esto implica que todas las personas que no han pasado por el proceso d declaración de una incapacidad, deben ser tenidas por capaces en el sistema de salud. De tal suerte podrá consentir de forma autónoma, utilizando o no, un sistema de apoyo voluntario y de confianza en los término que lo deseen. La discapacidad funcional, intelectual, psicosocial, sensorial o cognitiva no implican en sí mismas una “incapacidad jurídica”, y muchos menos en situaciones relacionadas con el ejercicio de derechos personalísimos. Es por ello que en el sistema de salud, se deben adoptar medidas tendientes a facilitar que las PCD puedan ejercer sus derechos de manera autónoma y recibir la atención sanitaria en los términos que les resulten más accesibles, aceptables y con la mejor calidad disponible.</p>
                <p>En relación a derechos sexuales y reproductivos de las personas, la subordinación legal a la Constitución y a las normas de derechos humanos, se traduce en la aplicación entre otros y fundamentalmente en los siguientes criterios interpretativos: interés superior y autonomía progresiva de niñas, niños y adolescentes, presunción de la capacidad de todas las personas en todas las circunstancias, pro persona, pro niños, niñas y adolescentes, e igualdad y no discriminación.</p>
                <p>En resumen, el presente proyecto busca legalizar la IVE priorizando la fijación de plazos, la voluntad de la mujer y el goce pleno de los derechos sexuales y reproductivos, y no de las condiciones bajo las cuales se produce un embarazo.</p>
                <p>La muerte a consecuencia de interrupciones de embarazos mal practicadas, sólo pueden sufrirla las mujeres por su propia condición biológica para la reproducción, es por ello que esta ley constituye un acto de equidad y justicia reproductiva.</p>
                <p>La necesidad de dar un debate serio y profundo, despojado de valoraciones personales, resulta imperioso en esta etapa de la Argentina.</p>
                <p>El debate sobre el derecho al acceso a la práctica de interrupción del embarazo constituye un paso más en el camino hacia la democratización de nuestra sociedad y la resolución de injusticias reproductivas. El Estado debe garantizar un acceso real y equitativo al derecho a la salud para todas las mujeres sin permitir que se generen diferencias según el nivel socioeconómico, de etnia, valores culturales y religiosos, ni edad. De la mano de otras leyes vigentes, como las que aprobaron los programas de salud sexual y reproductiva, educación sexual integral, matrimonio igualitario, fertilización asistida, y de la implementación de políticas de salud reproductiva podemos avanzar mucho en la construcción de una sociedad más justa, igualitaria, respetuosa de los derechos de la mujer.</p>
                <p>De lo que se trata es de debatir qué democracia queremos: una con un Estado libre, laico y plural, ampliando derechos; o una Democracia con un Estado ausente que, por omitir un debate sobre la legislación que permita interrumpir embarazos, refuerza inequidades e injusticias sociales. Presentamos este proyecto de ley con la esperanza de que el Honorable Congreso de la Nación nos acompañe en esta iniciativa y contribuya una vez más a la ampliación de derechos en la Argentina.</p>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn modal-btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>