@import "../../../theme/variables";

.about-reform-card {
    border: 0px;
    border-radius: 0px;
    padding: 15px 15px 0px 15px;
    background-color: transparent;
    margin: 10px;
}

.play {
    text-align: center;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.play .wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
}

.play .circle {
    position: relative;
    top: -32px;
    left: -32px;
    display: block;
    font-size: 40px;
    color: white;
    cursor: pointer;
    width: 75px;
    height: 75px;
    line-height: 75px;
    border-radius: 50px;
    border: 3px solid white;
    background-color: #515470;
}

.about-reform-play-icon {
    width: 20%;
    margin-top: 22%;
    margin-left: 8%;;
}

.about-reform-play-icon:hover {
    width: 22%;
    margin-top: 21%;
}

.about-reform-title {
    font-size: 21px;
    font-family: $brandon-bold;
    color: $verde;
}

.about-reform-description {
    font-size: 14px;
    font-family: GFSDidot;
    color: #000;
    line-height: 20px;
}

.modal-content {
    border: 0px;
    border-radius: 0px;
    background-color: $gris;
    font-family: $brandon-bold;
}

.modal-body {
    padding: 0px;
}

.modal-header,
.modal-footer {
    border: 0px;
    border-radius: 0px;
}

.modal-btn {
    border-radius: 0px !important;
    background-color: black;
    border: 0px;
    font-family: $brandon-bold;
    margin: 5px;
}

.modal-btn:hover {
    background-color: #464646;
}