@import "../../../theme/variables";


a {
    color: white;
    text-decoration: underline;
}
.subtitle-container {
    color: white;
    font-family: $brandon-medium;
    font-size: 100%;
    text-align: center;
}

.scroller-subtitle {
    width: 100%;
    text-align: center;
    display: block;
    font-size: 32px;
    font-family: $brandon-black;
}

.enContra {
    background-color: $enContra;
    color: $blanco;
}

.sinDefinir {
    background-color: $sinDefinir;
    color: $blanco;
}

.aFavor {
    background-color: $aFavor;
    color: $blanco;
}

.row {
    margin-top: 3%;
}

.scroller-title-first-part {
    font-family: $brandon-bold;
    font-size: 42px;
    line-height: 50px;
}

.scroller-title-second-part {
    font-family: $brandon-black;
    font-size: 50px;
    color: #00A99D;
    position: relative;
    line-height: 50px;
}

@media (max-width: 575.98px) {
    .scroller-title-first-part,
    .scroller-title-second-part {
        font-size: 40px;
        line-height: 45px;
    }
}


.scroller-horizontal-container {
    width: calc(100% + 30px);
    margin-left: -15px;
    padding-top: 10px;
    @media (min-width: 768px) { 
        padding-right: 9%;
        padding-left: 9%;
    }
}

.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
    display: none;
    }
    z-index: 1;
}

.slider {
    position: relative;
    margin: 0;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    width: 100%;

    .handle {
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;
        z-index: 20;
        width: 4%;
        text-align: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        color: #fff;
        background: transparent;

        @media (max-width: 767.98px){
            display: none;
            width: 0;
        }
    }

    .blackArrow {
        color: $negro;
    }

}


.indicator-icon {
    font-size: 15vw;
    position: absolute;
    font-weight: bolder;
    top: 50%;
    position: absolute;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
    cursor: pointer;
}

.indicator-icon.left {
    margin-left: -160%;
}

.indicator-icon.right {
    margin-left: 160%;
}

.slider .handle.handleNext {
    right: 0;
}

.slider .handle.handlePrev {
    left: 0;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
