<div class="card">
    <div class="card-body">
        <p-card *ngFor="let it of list">
                <i class="pi pi-times-circle elipsis highlight-hover" (click)="remove(it)"></i>
                <i class="pi pi-arrow-circle-down elipsis highlight-hover" (click)="moveDown(it)"></i>
                <i class="pi pi-arrow-circle-up elipsis highlight-hover" (click)="moveUp(it)"></i>
                {{it[stringField]}}
        </p-card>

        <div class="ui-inputgroup" style="margin-top:5px;">
            <textarea class="form-control add-option-input" style="font-size: 13px;" placeholder="Agregar" [(ngModel)]="newItemString"></textarea>  
            <button pButton type="button" icon="pi pi-check" class="ui-button-primary" (click)="addOption()"></button>      
        </div>
    </div>
</div>