<div class="container-fluid">
    <div class="row justify-content-center">
  
      <div class="col-12 col-md-6 col-lg-4">
        
        <div class="card">
  
          <div class="card-header">
            <h3>Login</h3>
          </div>
  
          <div class="card-body">
            <form>
              <label for="usr">Usuario</label>
              <input name="usr" class="form-control" type="text" [(ngModel)]="usr"/>

              <label for="pass">Contraseña</label>
              <input name="pass" class="form-control" type="password" [(ngModel)]="pass"/>

              <br/>

              <button class="btn btn-primary" (click)="doLogin()">Ingresar</button>
            </form>
          </div>
  
        </div>
      </div>
  
    </div>
  </div>