<div class="container-fluid">
    <!-- Proyectos -->
    <div class="row justify-content-center">
        <div class="col col-11 col-lg-10" style="margin-bottom: 5px;">
            <span class="title">Los proyectos de ley</span> <br>
            <span class="subtitle">Ingresa para empezar a activar el congreso</span>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col col-11 col-lg-10" style="margin-bottom: 5px;">
            <ng-template ngFor let-proy [ngForOf]="proyList">
                <project-card [project]="proy"></project-card>    
            </ng-template>
        </div>
    </div>

    <!-- Contador -->
    <div style="margin-top:20px;"></div>
    <contador [cantidad]="contador"></contador>

    <!-- Info -->
    <div class="row info-strip">

        <span class="info-title">¿Qué es Activá el Congreso?</span>

        <span class="info-text">
            Activá el Congreso es una plataforma independiente. Estamos en contacto con todo el arco político, 
            les pedimos propuestas, consejos y hasta armamos debates con ellos. Tratamos de identificar temas 
            calientes de la agenda política, los estudiamos, analizamos y actuamos para canalizar el debate.
        </span>

    </div>

    <div class="row follow-strip">

        <div class="col col-12 col-md-7">
            <div class="follow-title">Nuestras redes</div>
            <a href="https://twitter.com/activacongreso" target="_blank" class="follow-btn"><i class="fab fa-twitter"></i></a>
            <a href="https://www.facebook.com/activaelcongreso/" target="_blank" class="follow-btn f-btn"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/activacongreso/" target="_blank" class="follow-btn"><i class="fab fa-instagram"></i></a>
            <a href="mailto:activaelcongreso@gmail.com" target="_blank" class="follow-btn"><i class="far fa-envelope"></i></a>
        </div>

        <div class="col col-12 col-md-5 newsletter">
            <form ngNoForm [formGroup]="formGroup">
                <div class="form-group">
                    <div class="follow-title">Nuestro newsletter</div>
                    <input type="text" placeholder="Email" formControlName="email" class="news-input"/>
                    {{newsletterMessage}}
                </div>
                <button type="button" class="news-btn" (click)="submitNewsletter()">Enviar</button>
              </form>

        </div>

    </div>

    <div class="row final-row">
        <img class="final-strip-img" src="../../../assets/images/logo.png">
    </div>

</div>