/* Fonts */
$didot: GFSDidot;
$brandon-black: Brandon-Black;
$brandon-bold: Brandon-Bold;
$brandon-regular: Brandon-Regular;
$brandon-medium: Brandon-Medium;

/* Colors */
$blanco: #FFFFFF;
$negro: #1A1A1A;
$verde: #00A99D;
$gris: #fbfbfb;
$violeta: #6e428c;
$gris-texto: #666;

/* Colors diputadxs */
$aFavor: #659b22;
$enContra: #cf2d2d;
$sinDefinir: #ffac24;
$noConfirmado: #ffac24;
$seAbstiene: #909090;