<div class="container-fluid justify-content-center">

    <h1>CONVERSÁ SIN INTERMEDIARIOS</h1>

    <div class="positions">
            Conversá con un/a diputad/a para influir en su voto. Puede estar
            <span class="badge aFavor">a favor</span>,
            <span class="badge enContra">en contra</span>,
            <span class="badge sinDefinir">no confirmado</span> o
            <span class="badge seAbstiene">se abstiene</span> 
            sobre el proyecto de <strong>Interrupción Voluntaria del Embarazo</strong>.
	</div>

  <form [formGroup]="form">
    <div class="form-group row filter justify-content-center">
      <label class="col-4">Filtrá por distrito:</label>
      <label class="col-4">Filtrá por posición:</label>
      <label class="col-4">Filtrá por bloque:</label>

      <select class="form-control col-4"  id="district" formControlName="currentDistrict"
            name="district">
            <option *ngFor="let d of districts" [value]="d">{{d}}</option>
      </select>
      

      <select class="form-control col-4"  id="position" formControlName="currentPosition"
            name="position">
            <option *ngFor="let p of positions" [value]="p">{{p}}</option>
      </select>

      
      <select class="form-control col-4"  id="party" formControlName="currentParty"
            name="party">
            <option *ngFor="let p of parties" [value]="p">{{p}}</option>
      </select>
    </div>
  </form>

  <div *ngIf="showPositionsChart && !loading" class="row">
    <google-chart class="col-12" #cchart [data]="pieChartData"></google-chart>
  </div>

  <app-ui-spinner *ngIf="loading"></app-ui-spinner>
  <div *ngIf="!loading" class="row justify-content-center">
      <div class="diputadx" *ngFor="let dipu of filteredItems">
          <img class="card-img-top {{dipu.getPosicion}}" src="{{dipu.img ? dipu.img : '/assets/sen/new/' + dipu.key + '.jpg'}}" alt="{{dipu.name}} {{dipu.lastname}}">
          <div class="dip-body">
              <span class="dip-nombre">{{dipu.firstName}} {{dipu.lastname}}</span> <br>
             <span class="dip-bloque">{{dipu.bloque}}</span>
         </div>
          <div class="dip-buttons">
              <button type="button" *ngIf="dipu.twitter" (click)="twittearAborto(dipu)" class="btn btn-primary dip-btn"><i class="fab fa-twitter"></i> Twittear</button>
              <a *ngIf="dipu.interno" (click)="setCurrentDiputadx(dipu)" class="btn btn-primary dip-btn" data-toggle="modal" data-target="#exampleModalCenter"><i class="fas fa-phone"></i> Llamar</a>
              <a *ngIf="dipu.facebook" (click)="setCurrentDiputadx(dipu)" class="btn btn-primary dip-btn" data-toggle="modal" data-target="#facebookModal"><i class="fab fa-facebook"></i> Facebook</a>
         </div>
     </div>
  </div>
</div>

<!-- Modal llamado -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">

			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
					<span aria-hidden="true">&times;</span>
				</button>
				Cuando te atienda el conmutador, tenés que marcar alguno de los siguientes internos: <br>
				<span class="nro-interno">{{currentDiputadx?.interno}}</span>
			</div>
			<div class="modal-footer">
				<a (click)="contarLlamado(currentDiputadx)" href="tel:{{currentDiputadx?.phoneNumber}}" class="btn btn-primary llamar-btn">{{currentDiputadx?.phoneString}}</a>
        
			</div>
		</div>
	</div>
</div>

<!-- Modal Facebook -->
<div class="modal fade" id="facebookModal" tabindex="-1" role="dialog" aria-labelledby="Escribir por Facebook" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
          <span aria-hidden="true">&times;</span>
        </button>
        Te dejamos una sugerencia de texto para escribirle. Podés escribirle un mensaje privado o escribirle en el muro (lo que prefieras): <br>
        <span class="fbpost">{{currentDiputadx?.abortionFacebook()}}</span>
      </div>
      <div class="modal-footer">
        <button type="button" *ngIf="currentDiputadx?.facebook" (click)="facebookAborto(currentDiputadx)" class="btn btn-primary dip-btn center"><i class="fab fa-facebook"></i> Ir a su Facbeook</button>
        
      </div>
    </div>
  </div>
</div>
